[submodule "modules/cva6"]
	path = modules/cva6
	url = https://github.com/cyprienh/cva6.git
[submodule "tests/integration/testlist/cva6-litmus"]
	path = tests/litmus/litmus_src
	url = https://github.com/cyprienh/cva6-litmus.git
[submodule "tests/litmus/litmus_src"]
	path = tests/litmus/litmus_src
	url = https://github.com/cyprienh/cva6-litmus.git
[submodule "modules/axi_llc"]
	path = modules/axi_llc
	url = https://github.com/cyprienh/axi_llc.git
[submodule "cva6-sdk"]
	path = cva6-sdk
	url = https://git.s3g-labs.trt/u1206/cva6-sdk
